<script type="text/javascript">

    RED.nodes.registerType('hash ripemd160',{
        category: 'Crypto',
        color: '#4e83a2',
        defaults: {
            name: {value:""},
        },
        inputs:1,
        outputs:1,
        icon: "hash.png",
        label: function() {
            return this.name||'hash ripemd160';
        }
    });
</script>

<script type="text/x-red" data-template-name="hash ripemd160">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="hash ripemd160">
    <p>This node take a string and make a hash with ripemd 160 crypt.</p>
</script>
